<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{device_id}}</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    
    <script src="{{ url_for('static', filename = 'csmapi_modified.js') }}"></script>
    <script src="{{ url_for('static', filename = 'Switch.js') }}"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'bootstrap/css/bootstrap-theme.min.css') }}" >
    <script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'bootstrap/css/bootstrap-toggle.min.css') }}">
    <script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap-toggle.min.js') }}"></script>    

  </head>

    <script>
      set_device_id('{{ device_id }}');
      load_alias('{{ device_id }}', 'Switch', {{df_dict['Swit']}});
      load_state('Switch', {{df_dict['Swit']}}, update_switch_state);
    </script>   

  <body>
    <TD style="FONT-SIZE:24px; COLOR:#000000; LINE-HIGHT:50px; FONT-FAMILY:Arial,Helvetica,sans-serif">
    <legend>
      <span class="text-success" style="white-space:nowrap;">{{device_id}}</span>
      <button type="button" class="btn btn-danger close" aria-label="Close" onclick="dereg('{{device_id}}')"> <span aria-hidden="true">&times;</span> </button>
    </legend>
    
    <!-- keypad -->
    {% if df_dict['Keyp'] != 0 %}
    <div id="keypad-controls">
      <h2>Keypads</h2>
      {% for i in range(df_dict['Keyp']) %}
      <legend class="text-primary Keypad{{i+1}} h2">Keypad{{i+1}}</legend>
        <button type="button" class="btn btn-default" onclick="csmapi.push('109550087','','Keypad{{i+1}}',[1])" style="color:black; font-size: 110%;">1</button>
        <button type="button" class="btn btn-default" onclick="csmapi.push('109550087','','Keypad{{i+1}}',[2])" style="color:black; font-size: 110%;">2</button>
        <button type="button" class="btn btn-default" onclick="csmapi.push('109550087','','Keypad{{i+1}}',[3])" style="color:black; font-size: 110%;">3</button>
        <button type="button" class="btn btn-default" onclick="csmapi.push('109550087','','Keypad{{i+1}}',[4])" style="color:black; font-size: 110%;">4</button>
        <button type="button" class="btn btn-default" onclick="csmapi.push('109550087','','Keypad{{i+1}}',[5])" style="color:black; font-size: 110%;">5</button>
        <br>
        <button type="button" class="btn btn-default" onclick="csmapi.push('109550087','','Keypad{{i+1}}',[6])" style="color:black; font-size: 110%;">6</button>
        <button type="button" class="btn btn-default" onclick="csmapi.push('109550087','','Keypad{{i+1}}',[7])" style="color:black; font-size: 110%;">7</button>
        <button type="button" class="btn btn-default" onclick="csmapi.push('109550087','','Keypad{{i+1}}',[8])" style="color:black; font-size: 110%;">8</button>
        <button type="button" class="btn btn-default" onclick="csmapi.push('109550087','','Keypad{{i+1}}',[9])" style="color:black; font-size: 110%;">9</button>
        <button type="button" class="btn btn-default" onclick="csmapi.push('109550087','','Keypad{{i+1}}',[0])" style="color:black; font-size: 110%;">0</button>
      {% endfor %}
    </div>
    {% endif %}

    <!-- button -->
    {% if df_dict['Butt'] != 0 %}
    <div id="keypad-controls">
      <h2>Buttons</h2>
      {% for i in range(df_dict['Butt']) %}  
      <button type="button" class="btn btn-info Button{{i+1}} h6" onclick="csmapi.push('109550087','','Button{{i+1}}',[{{i+1}}])" style="width:200px; color:black;">Button{{i+1}}</button>
      <br>
      {% endfor %}
    </div>
    {% endif %}

    <!-- color -->
    {% if df_dict['Colo'] != 0 %}
    <div id="Color_I-controls">
      <h2>Color-I Controls</h2>
      {% for i in range(df_dict['Colo']) %} 
      <legend class="text-primary Color-I1 h2">Color-I{{i+1}}</legend>
      <button type="button" class="btn btn-outline-success" onclick="csmapi.push('109550087','','Color-I{{i+1}}',[255,0,0])" style="width:100px; height:100px; background-color:#FF0000"></button>
      <button type="button" class="btn btn-outline-success" onclick="csmapi.push('109550087','','Color-I{{i+1}}',[255,85,17])" style="width:100px; height:100px; background-color:#FF5511 "></button>
      <button type="button" class="btn btn-outline-success" onclick="csmapi.push('109550087','','Color-I{{i+1}}',[255,255,0])" style="width:100px; height:100px; background-color:#FFFF00"></button>
      <br>
      <button type="button" class="btn btn-outline-success" onclick="csmapi.push('109550087','','Color-I{{i+1}}',[0,255,0])" style="width:100px; height:100px; background-color:#00FF00"></button>
      <button type="button" class="btn btn-outline-success" onclick="csmapi.push('109550087','','Color-I{{i+1}}',[0,0,255])" style="width:100px; height:100px; background-color:#0000FF"></button>
      <button type="button" class="btn btn-outline-success" onclick="csmapi.push('109550087','','Color-I{{i+1}}',[102,0,255])" style="width:100px; height:100px; background-color:#6600FF"></button>
      <br>
      <button type="button" class="btn btn-outline-success" onclick="csmapi.push('109550087','','Color-I{{i+1}}',[255,0,255])" style="width:100px; height:100px; background-color:#FF00FF"></button>
      <button type="button" class="btn btn-outline-success" onclick="csmapi.push('109550087','','Color-I{{i+1}}',[255,255,255])" style="width:100px; height:100px; background-color:#FFFFFF"></button>
      <button type="button" class="btn btn-outline-success" onclick="csmapi.push('109550087','','Color-I{{i+1}}',[0,0,0])" style="width:100px; height:100px; background-color:#000000"></button>
      <br>
      {% endfor %}
    </div>
    {% endif %}

    <!-- switch -->
    {% if df_dict['Swit'] != 0 %} 
    <div id="switch-controls" style=" white-space:nowrap;">    
      <h2>Switch Controls</h2>
      {% for i in range(df_dict['Swit']) %}
      <div class="checkbox">
        <label>
          <input  type="checkbox" data-toggle="toggle" id="Switch{{i+1}}">
          <span class = "text-primary Switch{{i+1}} h2"  style=" white-space:nowrap;"> Switch{{i+1}} </span>
        </label>
      </div>
      {% endfor %}
    {% endif %}

  </body>
</html>
